@import 'tailwindcss';

@font-face {
  font-family: 'Lato';
  src: url('/fonts/LatoRegular400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/LatoBold700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/LatoBlack900.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  /* Colors */
  --color-black: #000000;
  --color-white: #ffffff;
  --color-brandies-blue: #096ffa;
  --color-auro-metal: #6d787a;
  --color-bright-gray: #ededed;

  --color-bg-color: var(--color-white);
  --color-text-base: var(--color-black);
  --color-text-news-title: var(--color-brandies-blue);
  --color-text-news-date: var(--color-auro-metal);
  --color-divider-color: var(--color-bright-gray);

  --max-content-width: 360px;

  /* Typography */
  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-h2: 22px;
  --text-h1: 24px;

  /* Explore shell */
  --explore_padding-inline: 20px;
  --max-content-width: 360px;
}

@layer base {
  body {
    font-family: 'Lato', system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: var(--text-base);
    background-color: var(--color-bg-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer utilities {
  .explore-shell {
    padding-inline: var(--explore_padding-inline);
    max-width: var(--max-content-width, 1440px);
    margin-inline: auto;

    /* @media (min-width: 744px) {
      --explore_padding-inline: 40px;
    }

    @media (min-width: 1128px) {
      --explore_padding-inline: 40px;
    }

    @media (min-width: 1440px) {
      --explore_padding-inline: 80px;
    } */
  }

  .grid-cols-card {
    grid-template-columns: minmax(0, 1fr) 2fr;
  }
}
