@import 'tailwindcss';

@font-face {
  font-family: 'Lato';
  src: url('/fonts/LatoRegular400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/LatoBold700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/LatoBlack900.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  /* Colors */
  --color-black: #000000;
  --color-white: #ffffff;
  --color-brandies-blue: #096ffa;
  --color-auro-metal: #6d787a;
  --color-bright-gray: #ededed;

  --color-bg-color: var(--color-white);
  --color-text-base: var(--color-black);
  --color-text-news-title: var(--color-brandies-blue);
  --color-text-news-date: var(--color-auro-metal);

  --max-content-width: 360px;

  /* Typography */
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-h3: 14px;
  --font-size-h2: 18px;
  --font-size-h1: 24px;

  /* Explore shell */
  --explore_padding-inline: 20px;
  --max-content-width: 360px;
}

@layer base {
  body {
    font-family: 'Lato', system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: var(--font-size-base);
    background-color: var(--color-bg-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer utilities {
  .explore-shell {
    padding-inline: var(--explore_padding-inline);
    max-width: var(--max-content-width, 1440px);
    margin-inline: auto;

    /* @media (min-width: 744px) {
      --explore_padding-inline: 40px;
    }

    @media (min-width: 1128px) {
      --explore_padding-inline: 40px;
    }

    @media (min-width: 1440px) {
      --explore_padding-inline: 80px;
    } */
  }

  /* .grid-shell {
    grid-template-columns: repeat(
      var(--breakpoint-grid_columns, 1),
      minmax(0, 1fr)
    );
    gap: 40px 24px;
    grid-auto-flow: row dense;
    --breakpoint-grid_columns: 1;

    @media (min-width: 500px) {
      --breakpoint-grid_columns: 2;
    }
    @media (min-width: 950px) {
      --breakpoint-grid_columns: 3;
    }
    @media (min-width: 1128px) {
      --breakpoint-grid_columns: 4;
    }
    @media (min-width: 1640px) {
      --breakpoint-grid_columns: 5;
    }
    @media (min-width: 1880px) {
      --breakpoint-grid_columns: 6;
    }
  } */

  .text-trim {
    overflow: clip;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
  }
}
